
a{
	text-decoration:none !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-menu {
    background-color: #f8f8f8;
    z-index: 500;
    opacity: 0.9;
    border-bottom: 1px solid #e0e0e0;
}

#main-content {
    margin: 10px;
    text-align: center;
}

#center-table {
    margin-right: auto;
    margin-left:auto;
}

#requestTimeouts{
    color:red;
}

#uptime{
    color : #63E263;
}   

.summary-box{
    border: 1px solid #e0e0e0;
}  

.delete-button{
    font-size: 70%;
    background: rgb(202, 60, 60);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}          