a{
	text-decoration:none !important;
}

#main-menu {
    background-color: rgb(61, 79, 93);
    z-index: 500;
    opacity: 0.9;
    border-bottom: 3px solid #e0e0e0;
}

.pure-menu-heading {
    color: white !important;
    font-weight: bold;
}

.pure-menu a {
    color: rgb(176, 202, 219);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-content {
    margin: 10px;
    text-align: center;
}

#center-table {
    margin-right: auto;
    margin-left:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

#chart{
   border: 1px solid #e0e0e0; 
   margin: 5px;
   border-radius: 4px;
}   

.summary-box{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}  

.summary-box-title{
    background-color: rgb(176, 202, 219);
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-weight: 500;
    letter-spacing: 0.1em;
} 

.summary-box-content{
    
} 

.pure-table-horizontal th{
    background-color: rgb(176, 202, 219); 
}

.delete-button{
    font-size: 70%;
    background: rgb(202, 60, 60);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#legend {
    text-align: left;
}

.left {
    text-align: left;
}