html, body {
height: 100%;
margin: 0;
}

a{
	text-decoration:none !important;
}

#main-header {
    background-color: #f8f8f8;
    z-index: 500;
    opacity: 0.9;
    border-bottom: 1px solid #e0e0e0;
}

#main-content {
    margin: 10px;
}

#system-table {
    margin-right: auto;
    margin-left:auto;
}

#requestTimeouts{
    color:red;
}

#uptime{
    color : #63E263;
}          