<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Omnibus</a>
    <ul>
        <li><a href="#">Topics</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Setting</a></li>
    </ul>
</div>
{{outlet}}