<div class="pure-g">
    <div class="pure-u-1">
        <div id="main-menu" class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">
                <i class="fa fa-cogs fa-lg"></i> Omnibus admin center
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">{{#link-to 'topics' classNames="pure-menu-link"}} <i class="fa fa-sitemap"></i> Topics {{/link-to}}</li>
                <li class="pure-menu-item">{{#link-to 'subscriptions' classNames="pure-menu-link"}} <i class="fa fa-users"></i> Subscriptions {{/link-to}}</li>
                <li class="pure-menu-item">{{#link-to 'system' classNames="pure-menu-link"}} <i class="fa fa-exchange"></i> System {{/link-to}}</li>
                <li class="pure-menu-item">{{#link-to 'settings' classNames="pure-menu-link"}} <i class="fa fa-gear"></i> Settings {{/link-to}}</li>
            </ul>
        </div>
    </div>
	<div id="main-content" class="pure-u-1">	
        {{outlet}}
    </div>
</div>           