<h4>Subscriptions</h4>
Coming soon...

<table id="center-table" class="pure-table pure-table-horizontal">
	<thead>
	    <tr>
	        <th><i class="fa fa-tags"></i> Topic</th>
	        <th>Type</th>
	        <th>IP Address</th>
	        <th>Creation date</th>
	        <th>Kill</th>
	    </tr>
	</thead>
</table>