<h4>Topic {{view.content.topic}} stats</h4>

<table id="center-table" class="pure-table">
    <tr>
        <td>Subtopic : {{view.subTopicsNumber}}</td>
        <td>Subscriber : {{view.subscribersNumber}}</td>
        <td><i class="fa fa-dashboard"> Throughput : {{view.throughputPerSec}} msg / sec</td>
        <td rowspan="2"><span id="legend"></span></td>
    </tr>
</table>

<div id="chart_container">
    <div id="chart"></div>
    <div id="timeline"></div>
    <div id="preview"></div>
</div>